<md-dialog aria-label="Task">
    <md-content class="sticky-container" style="">
        <md-subheader class="md-sticky-no-effect">Add a Task</md-subheader>
        <div class="dialog-content">
            <div layout="column" layout-sm="column">
                <md-input-container flex>
                    <label>Title</label>
                    <input ng-model="user.title" placeholder="Suitable Title">
                </md-input-container>
                <md-input-container flex>
                    <label>Detail</label>
                    <input ng-model="user.content">
                </md-input-container>
                <md-select ng-model="user.category" placeholder="Select Category">
                    <md-option ng-value="opt" ng-repeat="opt in getAllCategories()">{{ opt }}</md-option>
                </md-select>
                <md-select ng-model="user.Taskday" placeholder="Select Day">
                    <md-option ng-value="day" ng-repeat="day in Days">{{ day }}</md-option>
                </md-select>
            </div>
        </div>
    </md-content>
    <div class="md-actions" layout="row">

        <span flex></span>
        <md-button class="md-warn md-raised md-hue-2" ng-click="cancel()">Cancel</md-button>
        <md-button ng-click="add('Added')" ng-disabled="(user.content.length <= 0) || (user.title.length <= 0)" class="md-primary">
            Add
        </md-button>
    </div>
</md-dialog>