<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Todo App</title>
    <!--My Style Link-->
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
    <!--<link rel="stylesheet" href="./bower_components/angular-bootstrap/"/>-->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css"/>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-material-icons/angular-material-icons.js"></script>

    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="todoScript.js"></script>
</head>
<body ng-app="TodoList">
<div ng-controller="AppCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button style="  margin-top: 10px;" class="md-icon-button" aria-label="Settings">
                <ng-md-icon icon="today" style="fill:white" size="30" ng-click="toggleLeft()"></ng-md-icon>
                <!--<ng-md-icon icon="send"></ng-md-icon>-->
            </md-button>
            <h2>
                <span>Todo List (Your Daily Scheduler)</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div class="taskAdd">
       <div class="folder">
           <img src="images/Places-folder-grey-icon.png" alt=""/><br/>
           <!--<md-button class="md-raised md-primary" >Add Task</md-button>-->
           <md-button class="md-accent" ng-click="showAdvanced($event)">Add Task</md-button>
           <b layout="row" layout-align="center center" layout-margin style="font-size:16px;text-transform: capitalize">
               {{alert}}
           </b>
       </div>
    </div>
    <div style="width:80%; margin:auto auto;padding:5px;" ng-controller="SlideView" class="sample md-whiteframe-z1" layout="column">
        <md-content class="md-padding">
            <md-tabs md-selected="selectedIndex" md-border-bottom>
                <md-tab ng-repeat="tab in tabs"
                        label="{{tab.title}}">
                    <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                        <h3 ng-bind="tab.category"></h3>
                        <div>{{tab.Taskday}}</div>
                        <div ng-bind="tab.content"></div>

                        <br/>
                        <md-button class="md-primary md-raised" ng-click="removeTab( tab )">Remove Task</md-button>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
        <form ng-submit="" layout="column" class="md-padding" style="padding-top: 0;">
        </form>
    </div>


    <section>
        <!--<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="left">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Add Task</h1>
            </md-toolbar>
            <md-content ng-controller="LeftCtrl" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-sidenav-focus>
                    </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>
        </md-sidenav>-->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">View Task</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <md-list-item class="md-3-line" ng-click="navigateTo(item, $event)" ng-repeat="item in getElements">
                    <ng-md-icon class="myIcon" icon="assignment_ind"></ng-md-icon>
                    <div class="md-list-item-text">
                        <h4>{{ item }}</h4>
                    </div>
                </md-list-item>
            </md-content>
    </section>
</div>

</body>
</html>
