<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">


    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="todoScript.js"></script>
</head>
<body ng-app="TodoList">
<div ng-controller="AppCtrl">

    <div class="taskAdd">
       <div class="folder">
           <img src="images/Places-folder-grey-icon.png" alt=""/><br/>
           <md-button class="md-raised md-primary" ng-click="showAdvanced($event)">Add Task</md-button>
           <b layout="row" layout-align="center center" layout-margin>
               {{alert}}
           </b>
       </div>
    </div>
    <div style="width:80%; margin:auto auto;padding:5px;" ng-controller="SlideView" class="sample md-whiteframe-z3" layout="column">
        <md-content class="md-padding">
            <md-tabs md-selected="selectedIndex" md-border-bottom>
                <md-tab ng-repeat="tab in getAllTabs()"
                        label="{{tab.title}}">
                    <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                        <div ng-bind="tab.task"></div>
                        <br/>
                        <md-button class="md-primary md-raised" ng-click="removeTab( tab )">Remove Tab</md-button>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
        <form ng-submit="" layout="column" class="md-padding" style="padding-top: 0;">
            <div layout="row" layout-sm="column">
                <!--<div flex style="position: relative;">
                    <h3 class="md-subhead"
                        style="position: absolute; bottom: 0;
                         left: 0; margin: 0; font-weight: 500; text-transform: uppercase; line-height: 35px; white-space: nowrap;">Add a new Tab:</h3>
                </div>-->
                <!--<md-button class="add-tab md-primary md-raised" type="submit" ng-click="addTab()" >Add Tab</md-button>-->
            </div>
        </form>
    </div>

</div>


</body>
</html>
