body {
    background: rgba(189, 200, 168, 0.55) !important;
}


.taskAdd {

    margin:3% auto;
    background-color: rgba(184, 194, 185, 0.4);
    border-radius: 6px;
    width:30%;
    height:50%;
}

.folder{
    text-align: center;

}

.folder img{
    opacity: 0.5;
    margin-top: 20px;
}

.myIcon{
    display:inline;
}
